mkdocs-graphviz
mkdocstrings[python]
aafigure
Jinja2
Markdown
MarkupSafe
mkdocs
mkdocs-autorefs
mkdocs-graphviz
mkdocs-macros-plugin
mkdocs-material
mkdocs-material-extensions
mkdocs-pdf-export-plugin
mkdocs-table-reader-plugin
mkdocs-with-pdf
mkdocstrings
mkdocstrings-python
mkpdfs-mkdocs
python-markdown-math
pygments
pymdown-extensions
pyparsing
