{% extends "base.html" %}
{% load shield_filters %}

{% block title %} Listado de metahumanos conocidos {% endblock %}

{% block content %}

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Nivel de amenaza</th>
            <th>Equipo</th>
            <th>Poderes</th>
        </tr>
    </thead>

    {% for mh in items %}
    <tr>
        <td> {{ mh.name }} </td>
        <td> {{ mh.level|danger_level }} </td>
        <td> 
            {% if mh.team %}
               {{ mh.team }}
            {% endif %}
        </td>
        <td> 
            {% for power in mh.powers.all %}
                {{ power }}
            {% endfor %}
        </td>
    </tr> 
    {% endfor %}
</table>

{% endblock content %}
