{% extends "base.html" %}
{% load shield_filters %}

{% block title %} Listado de equipos conocidos {% endblock %}

{% block content %}

<div class="columns is-multiline is-mobile">
    
{% for team in items  %}
    <div class="column is-half">
        <h2 class="title">
            <a href="{% url 'team_detail' slug=team.slug %}">
            {{ team.name }}
            </a>
        </h2>
        <h3 class="subtitle">{{ team.description }}</h3>
    </div>
{% endfor %}

</div>

{% endblock content %}
